body {
  background: white;
}

.main {
  background: rgb(180, 175, 175);
  padding: 5px;
  display: inline-block;
  align-items: center;
  height: 40vh;
}

.div-basic {
  background-color: rgb(150, 41, 223);
  width: 200px;
  height: 250px;
  margin: 5px;
  float: left;
}

.div-advanced {
  background-color: rgb(168, 26, 109);
  width: 200px;
  height: 250px;
  margin: 5px;
  position: relative;
  float: left;
}
